<div class="animate__animated animate__fadeInDown animate__fast user-select-none">
    <div>
        <div class="container">
            <img src="../../../assets/images/Homepage.jpg" class="image-rounded" style="float: right;">
            <h1 class="display-4 text-white">Our Vision</h1>
            <p class="lead">
                To provide the highest quality laboratory testing to patients<br />
                institutionally, regionally and nationally by introducing state-of-art
                technology and best practices.
            </p>
            <a class="btn btn-info btn-md" href="https://en.wikipedia.org/wiki/Health_care" target="_blank"
                role="button">Learn more></a>
        </div>
    </div>
    <hr>
    <h2 style="text-align: center; font-family:'Times New Roman', Times, serif"><b>OUR SERVICES OFFERED</b></h2>
    <img src="../../../assets/images/services.gif" class="image-rounded" width=100%>
</div>