
<nav class="navbar navbar-default">
    <div class="container">
      <a href="#" class="navbar-brand" style="color: white;">HEALTH CARE APPOINTMENT APPLICATION
      </a>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Book An Appointment</a></li>
        <li><a href="#">AboutUs</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Email</a></li>
            </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
    
<app-home></app-home>
<router-outlet></router-outlet>
