 .container {
    margin-top: 8vh;
    margin-bottom: 20%;
    width:30%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } 


 /* .form-signin {
    max-width: 330px;
 
    padding: 15px;
    margin: 0 auto;
 }
 
 input {
    margin-bottom: 20px;
 }*/