<div class="container">
  <hr>
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color:rgb(101, 133, 202);float: center;">
      <div class="container">
        <a [routerLink]="['/diagnosticCenter/all']">
      <img class="card-img-overlay" src="../../../../assets/images/dcenter2.jpg" alt="Card image cap" style="width: 500px; height: 400px; float: left;" align="center"></a></div>
      <div class="card-body" style="float: center;">
        <h2 class="card-title text-white"><a class="text-white" style="color: white;" [routerLink]="['/diagnosticCenter/all']">View Your Diagnostic Centers</a></h2>
        <p class="card-text" style="color: white;">Instantly View/Update/Delete your Diagnostic Center(s).<br>
      Hurry up! Register your Center.</p>
      </div>
    </div>
  </div>
 <div class="col-sm-6">
    <div class="card" style="background-color:rgb(68, 115, 201);float: center;">
      <div class="container" align="center">
        <a routerLink="/diagnosticCenter/add">
      <img class="card-img-top" src="../../../../assets/images/addcenter.jpg" alt="Card image cap" style="width: 45%; height: 400px; float: left;" align="Center"></a></div>
      <div class="card-body" style="float: center;">
          
        <h2 class="card-title text-white"><a class="text-white" style="color: white;"  routerLink="/diagnosticCenter/add">Add new Diagnostic Center!</a></h2>
        <p class="card-text" style="color: white;" >Let the people get to know of your identity.<br>
            Add you Center to our Website</p>
      </div>
    </div>
  </div>
</div>
<hr>
</div>

<div class="container">
  <div class="card" style="background-color:rgb(47, 101, 201);float: center;">
    <div class="card-body">
          
      <div class="container" align="Center">
        <div class="container" >
          <img class="card-img" src="../../../../assets/images/online.gif" style="width: 400px; float:left;">
          <h1 style="float:center; color: white;">Get treated by the Best Doctors!!!!</h1>
          <p style="float:center; color: white;">You can get the best Diagnostic facilities around.</p>
      </div>
      </div>
  </div>
</div>
</div>